body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 50px;
}

body::after {
  content: "";
  background: url(../pics/f2d_logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
